= render 'layouts/header'
.container
  .row
    %h2 ユーザー一覧
  - @users.each do |user|
    #wallmessages.qa-message-list
      #m16.message-item
        .message-inner
          .message-head.clearfix
            .avatar.pull-left
              %a{:href => "./index.php?qa=user&qa_1=Oleg+Kolesnichenko"}
                %img{:src => "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
            .user-detail
              %h5.handle= "ユーザ名：#{user.name}"
              =link_to "詳細", user
              .post-meta
                .asker-meta
                  %span.qa-message-what
                  %span.qa-message-when
                    %span.qa-message-when-data 
                  %span.qa-message-who
                    %span.qa-message-who-pad 
          .qa-message-content
            %p= user.bio
